




/* David's Special CSS help */
/* :-) */

.item-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-group .portfolio-item {
    margin: 20px;
    position: relative;
    border-radius: 35px;
}


/*  about me page */
body {
    margin: 0;
    background-image: url("/Users/jennyhernandez/Desktop/BasicPortfolio/full-bloom/full-bloom.png"); 
}
header {
    background-color: white;
    margin: 0px;
}

.main-header {
    width: 960px;
    background-color: white;
    margin-left: 197px;
    height: 80px;
}

.about-me {
    background-color: #4aaaa5;
    width: 240px;
    color: white;
    font-size: 12px;
    display: inline-block;
    height:75px;
    text-align: center;
    padding: 2px;
}

a.about-me-button:visited{
    text-decoration: none;
    color:white;
}


.nav-bar {
    background-color: #777777;
    margin-left: 487px;
    font-size: 18px;
    word-spacing: 25px;
    display: inline-block;
}

a {
text-decoration: none;
color:#cccccc;
} 

a:hover   {
    color: #4aaaa5;
}

/***** STARTING MAIN CONTENT ****/



.main {
    border: 1px solid #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: whitesmoke;
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}

/*this is for all pages */
.underline {
    border-bottom: 3px solid #cccccc;
    margin: 0 auto;
    width: 70%
}
p {
    line-height: 25px;
}

.img {
    padding: 10px;
}


footer {
    background-color: darkgrey;
    text-align: center;
    color: white;
    border-top: 4px solid #4aaaa5;
    position: fixed;
    width: 100%;
    margin-top: 50%;
}


/* end of about me page*/

/*  Gallery page portfolio.html */

.header {
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    margin-left: 110px
}

.portfolio {
    width: 70%;
    border: 1px solid #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
    color: #777777;
    background-color: whitesmoke;
    position: relative;
    height: 550px;
}

.logo {
    background-color: #4aaaa5;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 5px;
    text-align: center;
    padding: 9px 0;
    border-radius: 25px;
}


.carousel {
    width: 50%;
    height: 50px;
    margin: 0 auto;
}

/* end gallery page */


/* contact page */

.heading {
    font-size: 24px;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 20px;
    color: #777777;
}

.form {
    border: 1px solid #cccccc;
    text-align: center;
    margin: 0 auto;
    height: 650px;
    margin-top: 30px;
    background-color: whitesmoke;
    padding-top: 50px;
    width: 750px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.title {
    color: #777777;
    font-size: 18px;
    line-height: 1px;
    text-align: left;
    padding-left: 60px;
    position: relative;
    top: 50px;
}

.contact-info {
    background-color: lightgrey;
    width: 50%;
    text-align: center;
    margin-left: 20%;
    margin-top: 5%
}
    textarea {
        left: -277px;
        top: 15px;
        color: #777777;
        font-size: 18px;
    }

input {
    width: 50%; 
    height: 35px;
    margin: 15px;
}


.submit {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 20px;
    margin-right: 380px;
}

footer {
    background-color: darkgrey;
    text-align: center;
    color: white;
    border-top: 4px solid #4aaaa5;
    width: 100%;
    margin-top: 50%; 
     /* position: relative; */
    bottom: 0px;
    height: 60px;

}

/* end of contact page */

 @media screen and (max-width: 980px) {
    
    .main-header {
        width: 100%;  
        max-width: 980px;
        margin: 0 auto;
    }

    .about-me {
        width: 40%;
        margin: 0 auto;
    }

    .nav-bar {
        width: 40%;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left:365px;
    }
    
    .main{
        width: 80%;  
        margin: 0 auto;
    }

    .underline {
        width: 90%;
    }
    
    .portfolio {
        margin: 0 auto;
    }

    .form {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
    }
 }


@media screen and (max-width: 768px) {
    
    .main-header {
        width: 100%;  
        max-width: 768px;
        margin: 0 auto;
    }

    .about-me {
       width: 50%;
       margin: 0 auto;
    }

    .nav-bar {
        width: 50%;
        /* margin-bottom: 50px; */
        height: 50px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left:365px;
    }
    
    .main {
        width: 70%;  
        margin: 0 auto;
        padding:40px;
    }
    
    .portfolio {
        margin: 0 auto;
        padding:40px;
    }

    .form {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
    }
}

 @media screen and (max-width: 640px) {
    
    .main-header {
        width: 100%;
        max-width: 640px; 
        margin: 0 auto; 
    }

    .about-me {
        width: 100%;
        margin: 0 auto;
    }

    .nav-bar {
        width: 100%;
        margin-bottom: 50px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
    }
    
    .main {
        background-color: white;
        width: 70%;  
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
    }  


    .img {
        height: auto;
        max-width: 100%;
        width: 350px;
        height: 350px;
        }


    
    .portfolio {
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
    }

    .item-group {
        justify-content: center;
    }

    .main-content {
        column-count: 1;
        column-width: 250px;
    }

    .form {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
    }
 
    .message {
    color: #777777;
    font-size: 18px;
    margin-right: 80%;
    margin-bottom: 5%;
    }
}
