/* ALL PAGES! */
#body {
    margin: 0;
    background-image: url(../../full-bloom/full-bloom.png);
    font-family: 'Karla', sans-serif;

}

p {
    line-height: 30px;
}

/* nav-bar */
.nav-link {
    font-size: 22px;
    color: #999999;
}

.nav-link:hover {
    color: navy;
}

footer {
  text-align: right;
  width: 100%;
  position: relative;
  bottom: 5px;
  height: 60px;
  margin-top: 20%;
 } 

 .github-logo {
     height: 65px;
     width: 65px;
 }


/*  about me page */


.img {
    border-radius: 25%;
    text-align:left; 
}

#card-info {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #777777;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 7%;
}

/* end of about me page*/



/*  portfolio.html */
.media {
    margin: 0 auto;
    margin-top: 50px;
    overflow-y: auto;
}

.project-header {
    font-size: 25px;
}


/* end portfolio page */


/* contact page */


/* .form-control, label {
    margin-left: 50%;
} */

.instruction {
    text-align: center;
    border: 3px dotted black;
    margin-left: 50%;
    background-color: lavenderblush;
    border-radius: 50px;
}

.links {
    width:50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 28px;
}
.links card {
    border-radius:50px;
}

button {
    background-color: #777777;
    margin: 0 auto;
}

form {
    font-size: 26px;
}


/* end of contact page */

/* mobile responsive stuff */

@media screen and (max-width: 980px) {
    /* about me */
    .navbar, .collapse {
        width: 100%;
    }
    #card-info {
        width: 90%;
    }
       /* about me */

    /* portfolio */
    .media-body {
        text-align: justify;
    }
    /* portfolio */

    /* contact */
    /* contact */
}


@media screen and (max-width: 768px) {
    
    /* aboutme */
    .navbar {
        width: 100%;
    }
    #card-info {
        width: 90%;
    }  

   /* .img {
       width: auto;
       height: auto;
   } */
    .name {
        color: yellowgreen;
        margin-top: -35px;
    }
    /* about me */

    /* portfolio */
    .media-body {
        text-align: justify;
    }
    /* portfolio */

    /* contact */
    /* contact */

}


@media screen and (max-width: 640px) {
    /* about me */
    .navbar {
        width: 100%;
    }
    #card-info {
        width: 90%;
    }
  
    .intro {
        width: 90%;
    }
    /* about me */

    /* portfolio */
    .media-body {
        text-align: justify;
    }
    /* portfolio */

    /* contact */
    /* contact */
}


/* mobile responsive stuff */

